.white-font.input
  %h2.middle= t('.sign_up')
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "center-form" }) do |f|
    = devise_error_messages!

    .form-group
      = f.input :email
      = f.input :username
      = f.input :password

    .form-actions
      = f.submit t('.sign_up'), class: "btn btn-default"
