.white-font
  .all-categories
    .top-options
      %h2= t('.list_of_articles')
      = link_to t('.add_article'), new_admin_article_path, class: "btn btn-default"

  %table.full-list
    %tr
      %th= t('.picture')
      %th= t('.title')
      %th= t('.published')
      %th= t('.publication_date')
      %th
      %th
    - @articles.each do |article|
      %tr
        %td= image_tag article.photo.url(:small)
        %td= article.title
        %td= boolean_value(article.published)
        %td= article.published_at
        %td= link_to t('edit'), edit_admin_article_path(article), class: "btn btn-info"
        %td= link_to t('destroy'), admin_article_path(article), method: :delete, class: "btn btn-danger" ,data: { confirm: t('are_you_sure') }

  .box
    = will_paginate @articles, renderer: BootstrapPagination::Rails
