.white-font
  %h2.middle= t('.list_of_articles')

  %table.full-list
    - @articles.each do |article|
      %tr
        %td
          %h4= article.title
          %p= image_tag article.photo.url(:small)
        %td= article.description

  .box
    = will_paginate @articles, renderer: BootstrapPagination::Rails
