.white-font.input
  %h2.middle= t('.change_your_password')

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "center-form" }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    .form-group
      = f.input :password
      = f.input :password_confirmation

    .form-actions
      = f.submit t('.change_password'), class: "btn btn-default"
