.content.rating
  %h2= t('.top_receipts')

  - if @rate.any?
    %table
      - @rate.each do |rate|
        %tr
          %td= link_to (image_tag rate.cacheable.photo.url(:small)), receipt_path(rate.cacheable)
          %td= rate.cacheable.title
          %td= rating_for rate.cacheable, "vote", enable_half: true
          %td= rate.qty
