.side
  %h3= t('.categories')
  - @categories.each do |category|
    %p= link_to category.name, category_path(category)

.main
  .white-font
    .main-top
      %h2= @category.name

      / Iespējams meklēt receptes iekš kategorijas
      = form_tag category_path(@category), method: "get", class: "navbar-form", id: "search-form"   do
        .input-append
          = text_field_tag :search, params[:search], class: "span2", placeholder: t('.search')
          = submit_tag t('search'), :name => nil

    / Redzams saraksts ar receptēm, kas pievienotas dotajai kategorijai
    - if @receipts_category.any?
      %table.full-list
        - @receipts_category.each do |receipts|
          %tr
            %td
              %p= receipts.title
              %p= link_to (image_tag receipts.photo.url(:small)), receipt_path(receipts)
            %td= rating_for receipts, "vote", enable_half: true

    / Ziņojums par tukšu recepšu sarkstu
    - else
      %h3.empty-message= t('.no_receipts')

    .box
      = will_paginate @receipts_category, renderer: BootstrapPagination::Rails
