= simple_form_for @receipt, html: { class: "input-form" } do |f|
  - if @receipt.errors.any?
    .error_explanation
      %h2= pluralize(@receipt.errors.count, t('error'))

      %ul
      - @receipt.errors.full_messages.each do |message|
        %li= message

  .form-group
    = f.input :title
    = f.input :components
    = f.input :description
    = f.file_field :photo
    = f.input :published, as: :boolean

  .form-group
    = f.label :category_id
    = f.collection_check_boxes :category_ids, Category.all, :id, :name

  .form-actions
    = f.submit t('save'), class: "btn btn-default"
    = link_to t('back'), my_receipts_path, class: "btn btn-default"
