.side
  %h3= t('.categories')
  - @categories.each do |category|
    %p= link_to category.name, category_path(category)

.main
  .white-font
    .main-top
      %h2= t('.main_title')
      / Recepšu meklēšana pēc nosaukuma
      = form_tag receipts_path, method: "get", class: "navbar-form", id: "search-form"   do
        .input-append
          = text_field_tag :search, params[:search], class: "span2", placeholder: t('.search')
          = submit_tag t('search'), name: nil, class: "btn btn-default btn-sm"

    - if @receipts.any?
      /Attēlots saraksts ar visām publicētajām receptēm
      %table.full-list
        - @receipts.each do |receipt|
          %tr
            %td
              %p= receipt.title
              %p= link_to (image_tag receipt.photo.url(:small)), receipt_path(receipt)
            %td= rating_for receipt, "vote", enable_half: true
            - if signed_in?
              - if current_user.is_admin
                %td= link_to t('destroy'), admin_receipt_path(receipt), method: :delete, class: "btn btn-danger", data: { confirm: "#{t('are_you_sure')}" }

      .box
        = will_paginate @receipts, renderer: BootstrapPagination::Rails

    - else
      .white-font.receipt-listing
        %h3.empty-message= t('.no_receipts')
