.white-font.input
  / Receptes nosaukums un tās vērtējums
  %h2.middle
    = @receipt.title
    = rating_for @receipt, "vote", enable_half: true

  / Receptes autors
  %h4.author
    = "#{t('.author')}: #{@receipt.user.username}"

  / Receptes bilde un tās sastāvdaļas
  %table.show-item
    %tr
      %td
        = image_tag @receipt.photo.url(:medium)
      %td
        .receipt-show
          %h4= t('.components')
          %p= @receipt.components

  / Receptes apraksts
  .receipt-show
    %h4= t('.description')
    %p= @receipt.description

    / Visi receptei pievienotie komentāri
    .comment-list
      %h4= "#{t('.comments')} #{@receipt.comments.count}"
      / Visi iesūtītie komentāri par recepti
      %table.show-comments
        - @comments.each do |comment|
          %tr
            %td= comment.user.username
            %td= comment.message
            - if user_signed_in?
              - if current_user.is_admin?
                %td= link_to t('destroy'), receipt_comment_path(@receipt, comment), method: :delete, class: "btn btn-danger", data: { confirm: "#{t('are_you_sure')}" }

        .box.comments
          = will_paginate @comments, renderer: BootstrapPagination::Rails

    / Ja lietotājs ir pieslēdzies, tad tas var izveidot komentāru
    - if user_signed_in?
      / Reģistrēts lietotājs var sniegt komentārus par recepti
      = simple_form_for ([@receipt, @receipt.comments.build]), html: { class: "comment-form" } do |f|
        .form-group
          = f.input :message
        .actions
          = f.submit t('submit'), class: "btn btn-default"
