.white-font
  - if user_signed_in?
    .my-receipts
      .top-options
        %h2= t('.main_title')
        = link_to t('.add_receipt'), new_receipt_path, class: "btn btn-default"

      %table.my-receipt-list
        - @my_receipts.each do |receipt|
          %tr
            %td= link_to (image_tag receipt.photo.url(:small)), receipt_path(receipt)
            %td= receipt.title
            %td= rating_for receipt, "vote", enable_half: true
            %td= link_to t('edit'), edit_receipt_path(receipt), class: "btn btn-info"
            %td= link_to t('destroy'), receipt_path(receipt), method: :delete, class: "btn btn-danger", data: { confirm: "#{t('are_you_sure')}" }

    .box
      = will_paginate @my_receipts, renderer: BootstrapPagination::Rails

  - else
    .row
      %h2.main= "You must log in"
