%html
  %head
    %title= [@page_title, 'Receptes'].compact.join(' - ')
    %meta{ content: @page_description, name: 'description' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body{ id: "#{controller_name}_#{action_name}".dasherize }
    = yield
